html { background-color: #222222; }
body {
  background: cornflowerblue;
}
.todo-item { text-align: left; }
.error { color: crimson; }
.white { color: white !important; }
.checkbox { margin-right: 10px; }
.completed { text-decoration-line: line-through; }
.todo-description { cursor: pointer; }
.todo-list { max-width: 400px !important; }
.wishes-list { width: 90% !important; }
.form { margin-bottom: 0px;}

.wishes-column{
  padding: 1%;
  text-align: center; 
  vertical-align: middle;
}
.name-column {
  white-space: nowrap;
}
.age-column {
  white-space: nowrap;
}
.organization-column {
  min-width: 12%;
  padding-right: 8px;
}

.giver-column {
  min-width: 150px;
}

.description-column {
  text-align: left !important;; 
}

.give-button{
  margin-top: 5px;
}

table {
  background-color: #f1f1f7;
  border-collapse: collapse;
  font-size: 0.9rem;
}

@media screen and (max-width : 650px)
{
  table {
    font-size: 0.7rem;
  }
}

td, th {
  border: 2px solid cornflowerblue;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.App {
text-align: center;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.full-column {
display: flex;
flex: 1;
flex-direction: column;
}

.ReactCollapse--collapse {
    transition: height 500ms;
  }